<!DOCTYPE html>
<html>
	<head>
		<!-- google search console -->
		<meta name="google-site-verification" content="6f0Hi9jNS__xw1ifwr3xX3_wV-pz74mInECjDWIjnwM" />
		<!-- naver search console -->
		<meta name="naver-site-verification" content="4d8e9a11900a14fb6f7f0162b82be135abd00015" />

		<title>{{ page.title }}</title>
		{% if page.description %}
			<meta name="description" content="{{ page.description }}">
		{% endif %}
		<meta name="author" content="{{ site.author.name }}">
		<!-- Enable responsive viewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="/assets/resources/syntax/syntax.css">
		<link rel="stylesheet" type="text/css" href="/assets/resources/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/resources/font-awesome/css/font-awesome.min.css">
		<!-- <link rel="icon" href="https://raw.githubusercontent.com/talk2ankan/uno-dbyll/gh-pages/uno-dbyll.png"> -->
		<!--
		<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
		-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script type="text/javascript" src="/assets/resources/bootstrap/js/bootstrap.js"></script>
		<!-- 
		<script type="text/javascript">
			$(document).ready(function(){
				if(window.location.href=="{{ site.BASE_PATH }}/"){
					$("#sidebar").css({width:'100%'});
					$("#btnblog").click(function(){
						$("#sidebar").animate({width:'30%'},'slow');
					});
				}
			});
		</script>
		-->
	</head>
<body>

  <!-- nav-menu-dropdown -->
  <div class="btn-group hidden-xs" id="nav-menu">
   <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown">
     <i class="fa fa-bars"></i>
   </button>
   <ul class="dropdown-menu pull-right" role="menu">
     <li><a href="{% if BASE_PATH %}{{ site.BASE_PATH }}{% else %}{{ site.BASE_PATH}}{% endif %}"><i class="fa fa-home"></i> Home</a></li>
     <li><a href="{{ site.BASE_PATH}}/{{ site.categories_path }}"><i class="fa fa-folder"></i> Categories</a></li>
     <li><a href="{{ site.BASE_PATH}}/{{ site.tags_path }}"><i class="fa fa-tags"></i> Tags</a></li>
     <li class="divider"></li>
     <li><a href="#"><i class="fa fa-arrow-up"></i> Top of Page</a></li>
   </ul>
 </div>

<div class="col-sm-4 sidebar hidden-xs" id="sidebar">
		{% include sidebar.html %}
	</div>

<div class="col-sm-8 col-sm-offset-4" id="container">
  {{ content }}

<footer class="navbar navbar-default">
    <div class="container">
      <p class="navbar-text pull-left">Some rights reserved &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. </br>
      Created using <a class="navbar-button" href="https://github.com/twbs/bootstrap">Bootstrap3</a> and <a class="navbar-button" href="https://github.com/jekyll/jekyll">Jekyll</a>. Theme : <a class="navbar-button" href="https://github.com/talk2ankan/uno-dbyll">uno-dbyll</a> by talk2ankan.
 </p>
 </div>
  </footer>
</div>
<!--
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'KZhiNan'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
 -->   
</body>
</html>
